<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".moneytracking.ActivityHomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".moneytracking.TotalActivity"
            android:parentActivityName=".moneytracking.ActivityHomePage">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".moneytracking.ActivityHomePage" />
        </activity>
        <activity android:name=".moneytracking.MainActivity"
            android:parentActivityName=".moneytracking.ActivityHomePage">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".moneytracking.ActivityHomePage" />
        </activity>
        <activity android:name=".budget.BudgetActivity"
            android:parentActivityName=".moneytracking.ActivityHomePage">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".moneytracking.ActivityHomePage" />
        </activity>
        <activity android:name=".budget.BudgetActivityMain"
            android:parentActivityName=".moneytracking.ActivityHomePage">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".moneytracking.ActivityHomePage" />
        </activity>
        <activity android:name=".budget.BudgetViewActivity"
            android:parentActivityName=".moneytracking.ActivityHomePage">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".moneytracking.ActivityHomePage" />
        </activity>
        <activity android:name=".moneytracking.NotesActivity"
            android:parentActivityName=".moneytracking.ActivityHomePage">
        <!-- The meta-data tag is required if you support API level 15 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".moneytracking.ActivityHomePage"/>
        </activity>
        <activity android:name=".budget.BudgetEditActivity"
            android:parentActivityName=".moneytracking.ActivityHomePage">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".moneytracking.ActivityHomePage"/>
        </activity>

        <activity android:name=".moneytracking.ActivityColour"
            android:parentActivityName=".moneytracking.ActivityHomePage">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".moneytracking.ActivityHomePage"/>
        </activity>

    </application>

</manifest>